<div id="Toolbar" class="smalltool" ng-app="routerApp">
  <div ng-controller="UIRouterController as UIRouter" class="container">
    <nav>
      <table id="Toolbar-Table">
        <tr>
          <td *ngFor="let obj of UIRouter.objects">
            <button id="Toolbar-Button-{{obj.Key}}"
                    class="Toolbar-Button"
                    uiSref="{{obj.Name}}"
                    uiSrefActive="selected">
              <span id="Toolbar-Key-{{obj.Key}}"
                    class="Toolbar-Class-{{obj.Key}">
                {{obj.Name}}
              </span>
            </button>
          </td>
        </tr>
      </table>
    </nav>
  </div>
  <ui-view></ui-view>
</div>
